body {
    background: black;
    font-family: "Times New Roman", serif; /* serif / sans-serif / cursive */
    color: white;
    font-size: 1.1rem; /* 1em = 16px */
    line-height: 1.3; /* 1.3 à 1.7 */
    background-image: url("../images/space-invaders.jpg");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: white;
    font-family: cursive;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    max-width: 375px;
}

h1 {
    color: black;
    font-size: 2rem;
    border: 4px dotted red;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    text-shadow: #22ff00 0px 0px 2px;
    /* opacity: 50%; */
}

h1:hover {
    text-shadow: #cc00ff 0px 0px 2px;
}

a[href*="fou"] {
    background-color: #750093;
}

#expe-de-fou {
    color: red;
}

.trop-fort {
    text-decoration: underline;
    color: #750093;
}

.fond-jaune {
    background-color: yellow;
}